:root{
    --dark: rgb(37, 37, 109);
}

body{
    background-color: white;
}
nav{
    background-color: var(--dark);
}
header{
    height: 20vh;
}
/* start of main section */
.search{
    height:100vh;
}
.display{
    height:60vh;
    border: 3px solid grey;
    border-bottom: none;
}
.results{
    display:flex;
    flex-wrap:wrap;
    justify-content: space-around;
    height:auto;
}
.col{
    flex-basis:0;
}
/* start of recipe container */
h3{
    text-align: center;
    font-size: 30px;
    text-decoration: underline;
}
.recipes-container{
    margin-left:10px;
    overflow:scroll;
    height:100vh;
}
.recipes-container a{
    text-align: center;
    height:100%;
}
.recipes-container .recipe{
    display:flex;
    border: 3px solid grey;
}
.recipes-container img{
    border-radius: 15px;
    width:200px;
    height:150px;  
}
#ingredients{
    margin-left: 10px;
}
.picture p{
    text-align: center;
}
/* javascript added cards */
.videos .card{
    margin:10px;
    max-width:200px;
    border-radius: 15px;
}
.card img{
    border-radius: 15px;
}
.card img:hover{
    opacity: 70%;
}
.card .card-title{
    font-size: 12px;
    height: 40px;
    text-align: center;
}
.card-title a{
    color:rgb(68, 0, 255);
    text-decoration: none;
}
.card-title a:visited{
    color:rgb(78, 78, 78);
}
/* end of javascript added cards */

/* end of main section */
/* carousel */
#savedRecipes{
    position:relative;
}
footer{
    background-color: var(--dark);
}